{% extends "public_templates/public_template.html" %} {% block title %} Blockchain {% endblock %} {% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="m-4">
                Decide hacia donde va tu dinero!
            </h1>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">DNI</th>
                        <th scope="col">Concepto</th>
                        <th scope="col">Pago</th>
                    </tr>
                </thead>
                <tbody id="MyTable">
                    {% for item in tabla %} {%if item.tipoTransaccion == 'pago'%}
                    <tr class='table-success'>
                        <td>{{ item.DNI }}</td>
                        <td>{{ item.ConceptoPago }}</td>
                        <td>{{ item.DineroAportado }}</td>
                    </tr>
                    {%elif item.tipoTransaccion == 'gasto'%}
                    <tr class='table-danger'>
                        <td>{{ item.IDAdministrador }}</td>
                        <td>{{ item.ConceptoGasto }}</td>
                        <td>{{ item.DineroGastado }}</td>
                    </tr>
                    {%endif%} {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}